%nav.navbar.navbar-dark.bg-inverse.navbar-fixed-top
  = image_tag 'drone.png', size: '40x40', class: 'navbar-brand'
  = link_to 'dronny', root_url, class: 'navbar-brand'
  - if user_signed_in?
    %ul.nav.navbar-nav
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          My builds
          %span.sr-only (current)
    %ul.nav.navbar-nav.pull-xs-right
      = form_tag '#', class: 'form-inline' do
        = text_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search'
        = submit_tag 'Search', class: 'btn btn-success-outline'
      %li.nav-item= link_to 'Profile', edit_user_registration_path, class: 'nav-link'
      %li.nav-item= link_to 'Sign out', destroy_user_session_path,  class: 'nav-link', method: :delete
  - else
    %ul.nav.navbar-nav.pull-xs-right
      %li.nav-item= link_to 'Sign up', new_user_registration_path, class: 'nav-link'
      %li.nav-item= link_to 'Sign in', new_user_session_path,      class: 'nav-link'
